:root {
--yellow-color: #FFC700;
--yellow-button-hover: #FFD952;
--yellow-button-border: #9E7B00;
--black-color:#232020;
--white-gray-color: #F8F8F8;
--dark-gray-color: #898989;
--light-gray-color: #E4E4E4;
--white-color: #FFFFFF;

}