* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #F2F2F2;
}

.requare_group {
  border: 1px solid #181818;
  border-radius: 2px;
  background-color: #1E2429;
  max-width: 720px;
  margin: 10px;
  padding: 20px 130px 28px 38px;
}

.mar20 {
  margin: 0px 0px 20px 0px;
}