* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: flex;
  gap: 3rem;
  margin: 3rem;
}

.container-left,
.container-center,
.container-right {
  background: rgb(205, 202, 202);
  width: 20rem;
  height: 25rem;
  padding: 0.5rem;
}

.container-left__img,
.container-center__img,
.container-right__img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.container-left-navigation,
.container-center-navigation,
.container-right-navigation {
  margin: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.container-left-navigation__icon,
.container-center-navigation__icon,
.container-right-navigation__icon {
  width: 1rem;
}

li {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

li a {
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

li a:hover {
  color: rgb(205, 70, 70);
  font-weight: 600;
}

p {
  margin: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(63, 63, 63);
}

.container-left-button,
.container-right-button,
.container-center-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 2rem 1rem;
}

.container-left-button__left-item,
.container-center-button__left-item,
.container-right-button__left-item {
  background: transparent;
  background-color: transparent;
  border: medium none;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(35, 34, 34);
  cursor: pointer;
}

.container-left-button__left-item:hover,
.container-center-button__left-item:hover,
.container-right-button__left-item:hover {
  color: rgb(205, 70, 70);
}

.container-left-button__right-item,
.container-center-button__right-item,
.container-right-button__right-item {
  background: transparent;
  background-color: transparent;
  border: medium none;
  height: 1.1rem;
  cursor: pointer;
}

.container-left-button__right-item-img,
.container-center-button__right-item-img,
.container-right-button__right-item-img {
  height: 1.2rem;
}

.container-left-button__right-item-img,
.container-center-button__right-item-img,
.container-right-button__right-item-img:hover {
  color: rgb(205, 70, 70);
}

@media screen(max-width: 1024px) {
  html {
    font-size: calc (100vw / 768px * 10);
  }
}

@media screen (max-width: 768px) {
  html {
    font-size: calc (100vw / 500px * 10);
  }
}

@media screen (max-width: 500px) {
  html {
    font-size: calc (100vw / 360px * 10);
  }
}