* {
  margin: 0;
  padding: 0;
}

html {
  background-color: gray;
}

body {
  width: 26vw;
  height: 26vh;
  background-color: rgb(255, 255, 35);
  position: relative;
  top: 5px;
  left: 300px;
}

body::after {
  content: ' ';
  position: absolute;
  height: 26vh;
  width: 13vw;
  background-color: white;
  left: 0px;
  bottom: -172px;
}

body::before {
  content: ' ';
  position: absolute;
  height: 26vh;
  width: 13vw;
  background-color: black;
  right: 0px;
  bottom: -172px;
}